{% extends 'base.html' %}
{% load static %}
{% block title %} Receitas de Ouro{% endblock%}
{% block content %}

<!--Carrocel-->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/feijoada.jpg' %}" alt="Feijoada" class="d-block w-100 car-img">
            <div class="carousel-caption">
                <h3>Feijoada</h3>

            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/bolo de milho.jpg' %}" alt="Arroz com Pequi" class="d-block w-100 car-img">
            <div class="carousel-caption d-none d-md-block">
                <h5>Bolo de milho</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/arrozcompequii.jpg' %}" alt="Arroz com Pequi" class="d-block w-100 car-img">
            <div class="carousel-caption">
                <h3>Arroz com Pequi</h3>

            </div>
        </div>
    </div>

    <!--controles esquerdo e direito-->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>



<!-- cARROCEL CARDS -->
<!-- CARROSSEL DE CARDS DE RECEITAS -->
<!-- Carrodel Cards -->
<div id="carousel-receitas" class="carousel slide">
    <div class="carousel-inner">
      {% for receita in receitas %}
        {% if forloop.first or forloop.counter0|divisibleby:4 %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="row justify-content-center">
        {% endif %}
  
            <div class="card col-md-3 mx-2" style="width: 300px;">
              <img class="card-img-top" src="{{ receita.imagem.url }}" alt="{{ receita.titulo }}"
                style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h4 class="card-title">{{ receita.titulo }}</h4>
                <p class="card-text">{{ receita.descricao|truncatewords:20 }}</p>
                <a href="/receita/{{receita.id}}" class="btn btn-success">Ver Receitas</a>
              </div>
            </div>
  
        {% if forloop.counter|divisibleby:4 or forloop.last %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  
    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-receitas" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-receitas" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>




{% endblock %}