{% extends 'base.html' %}
{% load static %}

{% block title %} Receitas {% endblock %}

{% block content %}

{% if receitas.imagem %}
    <img src="{{ receitas.imagem.url }}" alt="{{ receitas.titulo }}" class="d-block w-100 car-img">
{% endif %}

<div class="container">
    <div class="ingredientes">
        <p class="title">{{ receitas.titulo }}</p>
        <p class="texto">{{ receitas.ingredientes|linebreaks }}</p>
    </div>

    <div class="Modo_de_Preparo">
        <p class="title">Modo de Preparo</p>
        <p class="texto">{{ receitas.preparo|linebreaks }}</p>
    </div>
</div>

{% endblock %}
